<footer class="footer">
<div class="container">
    <div class="row">
        <div class="span4">
        </div>
        <div class="span4">
            <p>版权所有 © 2010-2016 }} <a href="http://www.the5fire.com">the5fire.com</a></p>
            <p>CC BY-NC-SA 3.0</p>
            <p>
            Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a>.
            </p>
            <p>
            Host on <a href="https://m.do.co/c/4b3f2684a507" target="_blank">DigitalOcean $5/月</a>.
            <p>
            当前{{ online_num }}人在线,表示毫无压力
            {% if online_num > 50 %}
            <strong>囧~</strong>
            {% endif %}
            {% if online_num < 10 %}
            <strong>汗~</strong>
            {% endif %}
            </p>
            <p>本页面加载耗时:<!!LOAD_TIMES!!>s</p>
            <p>
                <a href="/sitemap.xml">网站地图</a>
            </p>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
</footer>
